@font-face {
  font-family: "Proxima Nova";
  src: url('../../fonts/PROXIMA-NOVA-BOLD.woff');
  font-weight: 700;
}
@font-face {
  font-family: "Proxima Nova";
  src: url('../../fonts/PROXIMA-NOVA-REGULAR.woff');
  font-weight: 400;
}
@font-face {
  font-family: "Proxima Nova";
  src: url('../../fonts/PROXIMA-NOVA-SEMIBOLD.woff');
  font-weight: 600;
}