.header{
  padding: 15px 0;
  border-bottom: 1px solid $light-gray;
  background-color: $white;

  &__wrapper{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 6;
  }

  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__pic{
      display: block;
      width: 46px;
      height: 46px;
      position: relative;
      z-index: 1;
      margin: 0 18px 0 0;

      img{
        display: block;
        width: 100%;
        transition: $tr-default;

        &:nth-of-type(2){
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          z-index: 2;
          width: 100%;
          height: 100%;
        }
      }
    }

    &__text{
      color: $black;
      font-size: 21px;
      font-weight: 700;
    }
  }

  .nav{
    @media (max-width: $width-md){
      display: none;
    }

    &__list{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__link{
      @extend .text;
      margin: 0 17px;
      position: relative;
      z-index: 1;
      transition: $tr-default;

      a{
        display: block;
        padding: 5px 0;
      }

      .router-link-exact-active,
      &:hover{
        color: $black;
      }
    }
  }

  &__ctrl{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0;

    @media (max-width: $width-md){
      margin: 0 30px 0 auto;
    }
  }

  .user{
    margin: 0 0 0 30px;
  }

  .notes{
    position: relative;
    z-index: 1;
    font-size: 0;

    &__icon{
      cursor: pointer;
    }
  }

  .menu-btn{
    display: none;
    width: 22px;
    padding: 0;

    span{
      display: block;
      width: 100%;
      height: 2px;
      background-color: $black;
      margin: 4px auto;
    }

    @media (max-width: $width-md){
      display: block;
    }
  }

  .team-btn{
    font-weight: 700;
    font-size: 16px;
    margin: 0 0 0 10px;

    &:after{
      content: '';
      display: inline-block;
      vertical-align: middle;
      border-style: solid;
      border-width: 0 1px 1px 0;
      border-color: $black;
      height: 6px;
      width: 6px;
      transform: rotate(45deg);
      margin: -4px 0 0 2px;
    }
  }
}