// sizes
$width-lg: 1280px;
$width-md: 1024px;
$width-sm: 768px;
$width-fb: 620px;
$width-xs: 420px;
$width-min: 319px;

// colors
$white: #ffffff;
$black: #171717;
$red: #FF5555;
$gray: #c4c4c4;
$dark-gray: #B1B1B1;
$light-gray: #E6E6E6;
$ext-light-gray: #fafafa;

// font-size


// transitions
$tr-default: 0.3s;


$offset: 20px;